body {
	background-color: #000000;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	line-height: 1.8em;
	padding-top: 101px;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.style-title {
	font-family: 'Shadows Into Light', cursive;
}

.style-text {
	font-family: 'Abel', sans-serif;
}

a {
	color: #FF3C3C;
	text-decoration: none;
	outline: none;
	-webkit-transition:all 0.15s ease-out 0;
	-moz-transition:all 0.15s ease-out 0;
	transition:all 0.15s ease-out 0;	
}

a:hover {
	color: #7b0000;
}

hr {
	margin: 20px 0;
	border: 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #fff;
}

::-moz-selection {
       background-color: #7b0000;
       color: #fff;
}

::selection {
       background-color: #7b0000;
       color: #fff;
}

.wrapper {	
	margin: 0 auto;
	width: 80%;	
}

/* Header */

header {
	width: 100%;
	height: auto;
	top: 0px;
	position:fixed;
	-webkit-transition:all 0.15s ease-out 0;
	-moz-transition:all 0.15s ease-out 0;
	transition:all 0.15s ease-out 0;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#000),color-stop(25%,#000),color-stop(100%,rgba(0,0,0,0.83)));
	background: linear,to bottom,#000 0%,#000 25%,rgba(0,0,0,0.83) 100%;
	background: -moz-linear-gradient(#000, rgba(0,0,0,0.83));
	z-index: 777;
}

div.logo-wrapper {
	width: 480px;
	float: left;
}

#logo {	
    margin: 20px 0 0;
    color:#fff;
    font-size: 22px;
}

#logo a {	
	color: #fff;
	font-family: "Yanone Kaffeesatz", sans-serif;
	font-weight: normal;
	font-size: 30px;
	background: url(../img/logo.png) no-repeat left top transparent;
	padding: 20px 0px 0px 79px;
	display: block;
	height: 65px;
	width: 200px
}

/* Header Navigation */

.nav {
	float: right;
	position: relative;	
}

.nav ul {
	position: relative;	
	margin: 0px;
}

.nav ul li {
	float: left;
	display: inline-block;
	position: relative;
}

.nav ul li a {
	display: block;
	font-size: 17px;
	color: #fff;	
	padding: 43px 25px 34px 25px;	
}

.nav ul li.active a,
.nav ul li a:hover {
	background-color: rgba(30, 30, 30, 0.3);
	border-bottom: 5px solid #7b0000;
}

/* Home */

#home {
	background-image: url(../img/bg.jpg);
	background-position: top right;
	background-size: cover;
	padding: 20px 0;
}

.download {
	text-align: center;
}

.download h2 {
	margin: 0px;	
	font-size: 30px;
	padding: 20px 0;
	color: #fff;
	font-weight: normal;
}

.download img {
	display: inline-block;
	margin: 20px 0;
}

.download .btn-download {
	background-color: #7b0000;
	color: #fff;
	display: block;
	font-size: 24px;
	padding: 20px 0px;
	width: 200px;
	margin: 0 auto;
}

.download .btn-download i {
    padding: 0 20px 0 0;
}

#slider_wrapper {
	width:600px;
	height:360px;
	margin: 20px auto;
	background-image: url('../img/macbook.png');
}

#slides {
	width:345px;
	height:216px;
	margin:0 auto;
	position: relative;
	top: 69px;
}

/* Description */

#description {
	background-color: #23211a;
}

.information {
	text-align: center;
	padding-top: 40px;
}

.information ul {
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

.information ul li {
	float: left;
	display: inline-block;
	width: 240px;
	height: 200px;
}

.info-img {
	height: 120px;
	position: relative;
}

.info-img img {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
}

.information ul li h3 {
	color: #fff;
	font-size: 15px;
	font-weight: normal;
}

/* Extensions */

#extensions {
	background-color: #7b0000;
	padding: 20px 0px;
}

.ext h2 {
	margin: 0px;
	padding: 20px 0px;	
	font-size: 28px;
	color: #fff;
	font-weight: normal;
}

.ext ul {
	padding: 0px;
}

.ext ul li {
	display: inline-block;
	float: left;
	width: 240px;
}

.ext ul li div {
	width: 153px;
	height: 153px;
	background-color: #000;
	display: block;
	border-radius: 50%;
	text-align: center;
	margin: 20px auto;
}

.ext ul li div a.overlay {		
	background-color: rgba(0, 0, 0, 0.4);
	background-image: url(../img/zoom.png);
	background-position: center center;
	background-repeat: no-repeat;
	width: 153px;
	height: 153px;
	display: none;
	border-radius: 50%;	
	position: relative;
	color: #fff;
}

.ext ul li div:hover a.overlay {
	display: block;
}

.overlay span {
	position: absolute;
	display: block;
	left: 11px;
	width: 130px;
	text-align: center;
}

.ext-type { top: 22px; }
.ext-name { bottom: 22px; }

/* Meet the Team */

#about {
	background-color: #383838;
	padding: 20px 0;

}

.team h2 {
	color: #FFFFFF;
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 20px;
    padding: 20px 0;
}

#developers {
	margin: 0px;
	padding: 0px;
}

#developers li.core {
	margin-bottom: 20px;
	height: 230px;
	float: left;
	display: inline-block;
	width: 480px;
	position: relative;
}

.avatar {
    float: left;
    width: 115px;
}

.avatar img {
	box-shadow: 4px 0px 0px #000;
	width: 105px;
	height: 105px;
	display: block;
	border-radius: 50%;
}

#nlh .info, #nlh .info p { background-color: #8f0013; }
#ljl .info, #ljl .info p { background-color: #00731e; }
#k .info, #k .info p { background-color: #535353; }
#yn .info, #yn .info p { background-color: #aa6800; }
#tpo .info, #tpo .info p { background-color: #007ca4; }

.info {
    float: left;
    margin-left: 28px;
    width: 320px;
    position: relative;    
    height: 156px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.info h3 {
	margin: 0px;
	padding: 10px;
	font-size: 18px;
	color: #f8f8f8;
	font-weight: normal;
}

.info p {	
	color: #f8f8f8;
	padding: 0px 10px 10px 10px;
	margin: 0px;
	position: absolute;
    height: 100px;
}

.arrow {
	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	position: absolute;
	left: -25px;
	top: 33px;
}

#nlh .arrow { border-right: 25px solid #8f0013; }
#ljl .arrow { border-right: 25px solid #00731e; }
#k .arrow { border-right: 25px solid #535353; }
#yn .arrow { border-right: 25px solid #aa6800; }
#tpo .arrow { border-right: 25px solid #007ca4; }

.info .role {
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 5px 10px;
	color: #f8f8f8;
	background-color: rgba(0, 0, 0, 0.4);	
	font-size: 16px;
}

.team-social {
	position: absolute;
	right: 30px;
	bottom: 37px;
}

.team-social li {
	float: left;
	display: inline-block;
	width: 45px;
	height: 40px;
	margin-left: 10px;
	box-shadow: -4px 4px 0px #7a7a7a;
	text-align: center;
}

.team-social li:hover {
	box-shadow: -4px 4px 0px #2b2828;
}

.fb { background-color: #3b5999; }
.tw { background-color: #36abe0; }
.gh { background-color: #fff; }

.fb a, .tw a, .gh a {
	color: #FFFFFF;
    display: block;
    font-size: 24px;
    margin-top: 5px;
    padding-top: 3px;
}

.gh a {
	color: #000;
}

.contributor {
	position: relative;	
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
}

.contributor h3 {
	position: absolute;
	background-color: #000;
	border: 1px solid #efefef;
	color: #fff;	
	font-size: 18px;
	padding: 10px 20px;
	top: -43px;
	left: 20px;
	letter-spacing: 0.2em;
}

.contributor ul {
	padding: 0px;
	margin: 0px;
}

.contributor ul li {
	display: inline-block;
	float: left;
	width: 320px;
	padding-top: 40px;
}

.contributor ul li img {
	box-shadow: -5px 5px 0px #000;
}

.contributor ul li h4 {
	margin: 10px 0px 20px 0;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
}


/* Footer navigation */

#ft-navigation {
	background-color: #1e1e1e;
}

.site-links {
	width: 480px;
	float: left;
	padding: 0px;
}


.site-links li {
	float: left;
	display: inline-block;
	border-left: 1px solid #cfcfcf;
	padding: 0px 20px;
}

.site-links li a {
	color: #cfcfcf;
	font-size: 16px;
}

.site-links li:first-child {
	border: 0px;
	padding-left: 0px;
}

.social-links {
	float: right;
}

.social-links li {
	float: left;
	display: inline-block;
	margin-left: 10px;
}

.social-links li a {
	color: #cfcfcf;
    display: block;
    font-size: 24px;
    margin-top: 5px;
}

/* Footer */

footer {
	color: #fff;
	text-align: center;
}

/* Toggler */

header .wrapper {
	position: relative;
}

#toggler { 
	display: none;
	font-size: 0px;
	text-indent: -9999px;
}

/* Breadcrumb */

.breadcrumb {
	padding: 8px 15px;
	margin-bottom: 20px;
	list-style: none;
	background-color: rgba(0, 0, 0, 0.43);
	border-radius: 4px;
}

.breadcrumb>li {
	display: inline-block;
}

.breadcrumb>li+li:before {
	content: "/\00a0";
	padding: 0 5px;
	color: #ccc;
}

.breadcrumb>.active {
	color: #fff;
}

/* Blog and page layouts */

.article-content {
	width: 75%;
	float: left;
	padding: 20px 0px;
}

.blog_single, .blog_single_wrapper {
	color: #eee;	
	padding-bottom: 40px;
}

.blog_excerpt { margin-bottom: 20px; }

.blog_body img, .featured_img img {
	max-width: 100%;
}

.blog_meta {
	font-size: 12px;
	margin-bottom: 15px;
}

.date, .category { margin-left: 10px; }

.blog_single_wrapper { text-align: left; }

.blog_single_wrapper blockquote {
	border-left: 3px solid #7b0000;
	background: rgba(0, 0, 0, 0.47);
	margin: 0px;
	padding: 10px 20px;
	font-size: oblique;
}

pre {
	background: #000;
	padding: 10px 20px;
	border-radius: 10px;
}

/* Tags */

.tags a {
	background-color: #7b0000;
	border-radius: 0 2px 2px 0;
	color: #fff;
	display: inline-block;
	font-size: 11px;
	font-weight: 700;
	line-height: 1.2727272727;
	margin: 2px 4px 2px 10px;
	padding: 3px 7px;
	position: relative;
}

.tags a:before {
	border-top: 10px solid transparent;
	border-right: 8px solid #7b0000;
	border-bottom: 10px solid transparent;
	content: "";
	height: 0;
	position: absolute;
	top: 0;
	left: -8px;
	width: 0;
}

.tags a:after {
	background-color: #fff;
	border-radius: 50%;
	content: "";
	height: 4px;
	position: absolute;
	top: 8px;
	left: -2px;
	width: 4px;
}

/* Comments */

#comment_area { 
	text-align: left;
	color: #eee;
}

.children {
	border-left: 3px solid rgba(123, 0, 0, 0.67);
}

.field_wrapper {
	margin-bottom: 20px;
}

.field_wrapper input, 
.field_wrapper textarea {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.field_wrapper input:focus, 
.field_wrapper textarea:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.field_wrapper textarea {
	min-height: 150px;
}

#comment_submit, .contact-btn.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #fff;
	background-color: #7b0000;	
}

#comment_submit:focus:hover, #comment_submit:focus, .contact-btn.btn:hover {
	color: #fff;
	background-color: #FF3C3C;
}

.form_label label, .contact-form-block label {
	font-size: 14px;
	margin-bottom: 10px;
	display: block;
}

.form_field {
  margin-bottom: 20px;
}

#comment_form input, #comment_form textarea {
  max-width: 100%;
}

.blog_single_wrapper, #comment_area {
  margin-bottom: 40px;
}

#comment_area h3 {
  font-size: 16px;
}

#login_info {
  margin: 10px 0;
}

.gravi img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.comments_wrapper { padding-left: 0px; }
.single_comment { border: 0px; }
.comment_date { margin-bottom: 5px; }

.comment_message {
  line-height: 1.8em;
}

.single_comment {
	padding: 10px;
	overflow : hidden;
	margin-bottom: 15px;
	clear:both;
}

.author_info {
	float:left;
	text-align: center;
	margin-right: 15px;
	color: #747171;
}

.comment_body {
	overflow:auto;
}

.comment_date {
	float:left;
	color: #747171;
	font-size: 11px;
}

.reply_link {
	float: right;
	text-decoration: none;
	font-size: 11px;
	background: #7b0000;
	color: #fff;
	padding: 1px 10px;
	border-radius: 5px;
}

.reply_link:hover {
	background: #FF3C3C;
}

.comment_message {
	clear:both;
}

#comment-pagination {
	margin-bottom: 15px;
	float:right;
}

#comment_form input[type=text], #comment_form input[type=email], #comment_form input[type=url] {
	border: 1px solid #CECECE;
	padding: 8px;
	width: 250px;
}

#comment_form textarea {
	border: 1px solid #CECECE;
	padding: 10px;
	width: 500px;
	height: 200px;
}

.com_read_more {
	float: right;
	font-size: 11px;
}

/* Widget */

.sidebar {
	margin: 20px 0;
	width: 23%;
	float: right;
}

.widget {
	background: rgba(0,0,0,0.43);
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	color: #eee;
}

.widget-title {
	margin-top: 0px; 
	font-size: 20px;
	color: #eee;
	font-size: 16px;
}

.widget ul, .widget ol {
	padding-left: 5px;
	list-style: none;
}

/* Contact */

.contact-form input[type=text], 
.contact-form input[type=email],
.contact-form textarea {
	display: block;
	width: 60%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	margin-bottom: 20px;
}

.contact-form textarea {
	width: 80%;
	min-height: 150px;
}

.contact-form input[type=file] {
	margin-bottom: 20px;
	color: #eee;
}

.contact-form label {
	color: #eee;
	font-size: 14px;
	margin-bottom: 10px;
}


@media screen and (max-width : 768px)  {

	.wrapper {
		width: 90%;
	}

	div.logo-wrapper, .nav {
		float: none;	
		margin-bottom: 20px;	
	}

	.nav ul {
		display: none;
		padding: 0px;
	}

	.nav ul li {
		display: block;
		float: none;
		width: 100%;
	}

	.nav ul li a {
		font-size: 14px;
		border-bottom: 5px solid transparent;
	}

	.nav ul li a, .nav ul li.active a, .nav ul li a:hover {
		padding: 10px;
	}

	#toggler {
		position: fixed;
		display: block;
		right: 5%;
		top: 41px;
	}

	#toggler:after {
		content:"";
		background: url('../img/toggler.png') no-repeat center center rgba(20,20,20,0.6);
		width: 20px;
		height: 20px;
		display: inline-block;
		padding: 5px;
		position: absolute;
		right: 10px;
	}

	.download h2 {
		font-size: 23px;
		line-height: 1.5em;
	}

	.download .btn-download {
		font-size: 18px;
		padding: 10px 0px;
	}

	.information ul li {
		width: 50%;
	}

	.article-content, .sidebar {
		width: 100%;
		float: none;
	}

}

@media screen and (max-width : 600px) {
	#slider_wrapper { display: none; }	
}

@media screen and (max-width : 520px) {
	#about { display: none; }
}

@media screen and (max-width : 320px) {
	.information ul li {
		width: 100%;
	}
	#logo a {
		font-size: 20px;
	}
}