body {
	background-color: #000000;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	line-height: 1.8em;
	padding-top: 101px;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.style-title {
	font-family: 'Shadows Into Light', cursive;
}

.style-text {
	font-family: 'Abel', sans-serif;
}

a {
	text-decoration: none;
	outline: none;	
}

hr {
	margin: 20px 0;
	border: 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #fff;
}

.wrapper {	
	margin: 0 auto;
	width: 960px;	
}

/* Header */

header {
	/*background-color: #070706;
	height: 120px;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 10;*/
}

.glass {
	-webkit-filter: blur(2px);
	-moz-filter   : blur(2px);
	-ms-filter    : blur(2px);
	-o-filter     : blur(2px);
	filter        : blur(2px);
	opacity: 0.3;
}

div.logo-wrapper {
	width: 480px;
	float: left;
}

#logo {
	background: url(../img/logo.png) no-repeat left top transparent;
	padding-top: 16px;
	padding-left: 88px;
	height: 50px;
    margin: 20px 0 0;
    color:#fff;
    font-size: 22px;
}

#logo a {	
	color: #fff;
	font-family: "Century Gothic", sans-serif;
	font-weight: normal;
}

/* Blur */

#header {
	position: relative;
	display: block;
	margin: 0 auto;
	background: #fff;
}

header, .blurheader {
	background: rgba(0,0,0,.6);	
	position: fixed;
	height: 101px;
	width: 100%;
	top: 0;
	z-index: 10;
}

.blurheader {
	background: transparent;
	overflow: hidden;
	z-index: 9;
	background: #000;
	left: 0;
}

#canvas {
	opacity:1;
  	z-index: 9;
  	position: absolute;
  	display: block;
  	top: 3px;
}

/* Header Navigation */

.nav {
	float: right;
	position: relative;	
}

.nav ul {
	position: relative;	
	margin: 0px;
}

.nav ul li {
	float: left;
	display: inline-block;
	position: relative;
}

.nav ul li a {
	display: block;
	font-size: 20px;
	color: #fff;
	padding: 30px 25px;
}

.nav ul li.active a,
.nav ul li a:hover {
	background-color: rgba(255, 255, 255, 0.3);
	border-bottom: 5px solid #7b0000;
	padding-bottom: 43px;
}

/* Home */

#home {
	background-image: url(../img/bg.jpg);
	background-position: top right;
	background-size: cover;
	padding: 20px 0;
}

.download {
	text-align: center;
}

.download h2 {
	margin: 0px;	
	font-size: 30px;
	padding: 20px 0;
	color: #fff;
	font-weight: normal;
}

.download img {
	display: inline-block;
	margin: 20px 0;
}

.download .btn-download {
	background-color: #7b0000;
	color: #fff;
	display: block;
	font-size: 24px;
	padding: 20px 0px;
	width: 200px;
	margin: 0 auto;
}

.download .btn-download i {
    padding: 0 20px 0 0;
}

#slider_wrapper {
	width:600px;
	height:360px;
	margin: 20px auto;
	background: url('../img/macbook.png') center no-repeat;
}

#slides {
	width:345px;
	height:216px;
	margin:0 auto;
	position: relative;
	top: 69px;
}

/* Description */

#description {
	background-color: #23211a;
}

.information {
	text-align: center;
	padding-top: 40px;
}

.information ul {
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

.information ul li {
	float: left;
	display: inline-block;
	width: 240px;
	height: 200px;
}

.info-img {
	height: 120px;
	position: relative;
}

.info-img img {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
}

.information ul li h3 {
	color: #fff;
	font-size: 15px;
	font-weight: normal;
}

/* Extensions */

#extensions {
	background-color: #7b0000;
	padding: 20px 0px;
}

.ext h2 {
	margin: 0px;
	padding: 20px 0px;	
	font-size: 28px;
	color: #fff;
	font-weight: normal;
}

.ext ul {
	padding: 0px;
}

.ext ul li {
	display: inline-block;
	float: left;
	width: 240px;
}

.ext ul li div {
	width: 153px;
	height: 153px;
	background-color: #000;
	display: block;
	border-radius: 50%;
	text-align: center;
	margin: 20px auto;
}

.ext ul li div a.overlay {		
	background-color: rgba(0, 0, 0, 0.4);
	background-image: url(../img/zoom.png);
	background-position: center center;
	background-repeat: no-repeat;
	width: 153px;
	height: 153px;
	display: none;
	border-radius: 50%;	
	position: relative;
	color: #fff;
}

.ext ul li div:hover a.overlay {
	display: block;
}

.overlay span {
	position: absolute;
	display: block;
	left: 11px;
	width: 130px;
	text-align: center;
}

.ext-type { top: 22px; }
.ext-name { bottom: 22px; }

/* Meet the Team */

#about {
	background-color: #383838;
	padding: 20px 0;

}

.team h2 {
	color: #FFFFFF;
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 20px;
    padding: 20px 0;
}

#developers {
	margin: 0px;
	padding: 0px;
}

#developers li.core {
	margin-bottom: 20px;
	height: 230px;
	float: left;
	display: inline-block;
	width: 480px;
	position: relative;
}

.avatar {
    float: left;
    width: 115px;
}

.avatar img {
	box-shadow: 4px 0px 0px #000;
	width: 105px;
	height: 105px;
	display: block;
	border-radius: 50%;
}

#nlh .info, #nlh .info p { background-color: #8f0013; }
#ljl .info, #ljl .info p { background-color: #00731e; }
#k .info, #k .info p { background-color: #535353; }
#yn .info, #yn .info p { background-color: #aa6800; }
#tpo .info, #tpo .info p { background-color: #007ca4; }

.info {
    float: left;
    margin-left: 28px;
    width: 320px;
    position: relative;    
    height: 156px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.info h3 {
	margin: 0px;
	padding: 10px;
	font-size: 18px;
	color: #f8f8f8;
	font-weight: normal;
}

.info p {	
	color: #f8f8f8;
	padding: 0px 10px 10px 10px;
	margin: 0px;
	position: absolute;
    height: 100px;
}

.arrow {
	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	position: absolute;
	left: -25px;
	top: 33px;
}

#nlh .arrow { border-right: 25px solid #8f0013; }
#ljl .arrow { border-right: 25px solid #00731e; }
#k .arrow { border-right: 25px solid #535353; }
#yn .arrow { border-right: 25px solid #aa6800; }
#tpo .arrow { border-right: 25px solid #007ca4; }

.info .role {
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 5px 10px;
	color: #f8f8f8;
	background-color: rgba(0, 0, 0, 0.4);	
	font-size: 16px;
}

.team-social {
	position: absolute;
	right: 30px;
	bottom: 37px;
}

.team-social li {
	float: left;
	display: inline-block;
	width: 45px;
	height: 40px;
	margin-left: 10px;
	box-shadow: -4px 4px 0px #7a7a7a;
	text-align: center;
}

.team-social li:hover {
	box-shadow: -4px 4px 0px #2b2828;
}

.fb { background-color: #3b5999; }
.tw { background-color: #36abe0; }
.gh { background-color: #fff; }

.fb a, .tw a, .gh a {
	color: #FFFFFF;
    display: block;
    font-size: 24px;
    margin-top: 5px;
    padding-top: 3px;
}

.gh a {
	color: #000;
}

.contributor {
	position: relative;	
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
}

.contributor h3 {
	position: absolute;
	background-color: #000;
	border: 1px solid #efefef;
	color: #fff;	
	font-size: 18px;
	padding: 10px 20px;
	top: -43px;
	left: 20px;
	letter-spacing: 0.2em;
}

.contributor ul {
	padding: 0px;
	margin: 0px;
}

.contributor ul li {
	display: inline-block;
	float: left;
	width: 320px;
	padding-top: 40px;
}

.contributor ul li img {
	box-shadow: -5px 5px 0px #000;
}

.contributor ul li h4 {
	margin: 10px 0px 20px 0;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
}


/* Footer navigation */

#ft-navigation {
	background-color: #1e1e1e;
}

.site-links {
	width: 480px;
	float: left;
	padding: 0px;
}


.site-links li {
	float: left;
	display: inline-block;
	border-left: 1px solid #cfcfcf;
	padding: 0px 20px;
}

.site-links li a {
	color: #cfcfcf;
	font-size: 16px;
}

.site-links li:first-child {
	border: 0px;
	padding-left: 0px;
}

.social-links {
	float: right;
}

.social-links li {
	float: left;
	display: inline-block;
	margin-left: 10px;
}

.social-links li a {
	color: #cfcfcf;
    display: block;
    font-size: 24px;
    margin-top: 5px;
}

/* Footer */

footer {
	color: #fff;
	text-align: center;
}