body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background-color: #000;
	color: #eee;
	font-size: 13px;
	line-height: 1.8em;
}

a {
	color: #7b0000;
	-webkit-transition: all 0.15s ease-out 0;
	-moz-transition: all 0.15s ease-out 0;
	transition: all 0.15s ease-out 0;
}

a:hover, a:focus {
	text-decoration: none;
	outline: none;
	color: #D24444;
}

/* Mozilla based browsers */
::-moz-selection {
   background-color: #F2E257;
   color: #333;
}

/* Works in Safari */
::selection {
   background-color: #F2E257;
   color: #333;
}

/* Header Bar */

#logo {
	background: url(../img/favicon.ico) no-repeat left center transparent;
	display: block;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 26px;
	padding-left: 40px;
	color: #eee;
}

.navbar-default {
	-webkit-transition:all 0.15s ease-out 0;
	-moz-transition:all 0.15s ease-out 0;
	transition:all 0.15s ease-out 0;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#000),color-stop(25%,#000),color-stop(100%,rgba(0,0,0,0.83)));
	background: linear,to bottom,#000 0%,#000 25%,rgba(0,0,0,0.83) 100%;
	background: -moz-linear-gradient(#000, rgba(0,0,0,0.83));
	border: none;
}

.navbar {
	border-radius: 0px;
}

.navbar-default .navbar-nav > li > a {
	color: #eee	;
}

.navbar-default .navbar-toggle {
	border: none;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #7b0000;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #7b0000;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #302f2f;
	color: #eee;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: rgba(30, 30, 30, 0.3);
    border-bottom: 5px solid #7B0000;
    padding-bottom: 10px;
    color: #eee;
}

ul#header {
	float: right !important;
}

/* Content Wrapper */

#content {
	background-image: url("../img/background.jpg");
    background-position: right top;
    background-size: cover;
    padding-top: 70px;
	color: #eee;
}

.download {
	margin-bottom: 20px;
}

.dashboard { text-align: center; }

.download h3 {
	font-family: 'Shadows Into Light', cursive;
	color: #FFFFFF;
    font-size: 30px;
    font-weight: normal;
    padding: 20px 0;
}

.download p {
	line-height: 2em;
	font-size: 14px;
	margin-bottom: 40px;
}

.btn-download {
    background-color: #7b0000;
    color: #eee;
}

.btn.btn-download:hover {
	background-color: #891212;
	color: #eee;
}

/* Footer */

footer { padding: 20px 0; }
footer p { font-size: 13px; }

footer .ico {
	font-size: 16px;
	color: #eee;
	margin: 0 2px;
}

footer .ico:hover {
	opacity: 0.6;
}

/* Team */

#main {
	background-color: #23211A;
}

#about h3 {
    margin-bottom: 30px;
}

#about ul, #about ol { margin-left: 0px; width: auto; }

#about #teams {
    padding: 0px;
}

#teams > .col-md-6 {
	width: 48%;
}

#about #teams > li { 
    list-style: none; 
    display: inline-block;
    position: relative;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.76);
    margin-bottom: 20px;
    height: 190px;    
    border-radius: 5px;
}

#about #teams img.team-member {
    padding: 5px;
    background-color: #0A0A0A;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
}

#about ul li.tleft img.team-member {
    left: -20px;
    top: 10px;
}

#about ul li.tright img.team-member {
    right: -20px;
    top: 10px;
}

#teams li.tleft  { 
	padding: 10px 20px 10px 0px;  
	float: left;
}

#teams li.tright  { 
	padding: 10px 0px 10px 20px;  
	float: right;
}

#teams li.tleft h4, #teams li.tleft p { margin-left: 100px; }
#teams li.tright h4, #teams li.tright p { margin-right: 100px; }

#teams li h4 {
    border-bottom: 1px solid #1c1c1c;
    color: #7b0000;
    font-size: 23px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#teams li h4 span {
    color: #999999;
    display: block;
    float: right;    
    font-size: 11px;
    margin-left: 15px;
    margin-top: 5px;
    background-color: #7b0000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

#teams li ul.social-share {
    position: absolute;
    bottom: 10px;
    padding: 0px;
    margin: 0px;
}

#teams li ul.social-share li {
    width: auto;
    height: auto;
    list-style: none;
    float: left;
    display: inline-block;	
    font-size: 16px;
}

#teams li ul.social-share li .fa {
	padding: 0 4px;
}


#teams li.tleft ul.social-share { right: 15px; }
#teams li.tright ul.social-share { left: 15px; }

/* Breadcrumb */

.breadcrumb {
	padding: 8px 15px;
	margin-bottom: 20px;
	list-style: none;
	background-color: rgba(0, 0, 0, 0.43);
	border-radius: 4px;
}

.breadcrumb>li {
	display: inline-block;
}

.breadcrumb>li+li:before {
	content: "/\00a0";
	padding: 0 5px;
	color: #ccc;
}

.breadcrumb>.active {
	color: #fff;
}

/* Blog and page layouts */

.article-content {
	width: 75%;
	float: left;
	padding: 20px 0px;
}

.blog_single, .blog_single_wrapper {
	color: #eee;	
	padding-bottom: 40px;
}

.blog_excerpt { margin-bottom: 20px; }

.blog_body img, .featured_img img {
	max-width: 100%;
}

.blog_meta {
	font-size: 12px;
	margin-bottom: 15px;
}

.date, .category { margin-left: 10px; }

.blog_single_wrapper { text-align: left; }

.blog_single_wrapper blockquote {
	border-left: 3px solid #7b0000;
	background: rgba(0, 0, 0, 0.47);
	margin: 0px;
	padding: 10px 20px;
	font-size: oblique;
}

pre {
	background: #000;
	padding: 10px 20px;
	border-radius: 10px;
}

/* Tags */

.tags a {
	background-color: #7b0000;
	border-radius: 0 2px 2px 0;
	color: #fff;
	display: inline-block;
	font-size: 11px;
	font-weight: 700;
	line-height: 1.2727272727;
	margin: 2px 4px 2px 10px;
	padding: 3px 7px;
	position: relative;
}

.tags a:before {
	border-top: 10px solid transparent;
	border-right: 8px solid #7b0000;
	border-bottom: 10px solid transparent;
	content: "";
	height: 0;
	position: absolute;
	top: 0;
	left: -8px;
	width: 0;
}

.tags a:after {
	background-color: #fff;
	border-radius: 50%;
	content: "";
	height: 4px;
	position: absolute;
	top: 8px;
	left: -2px;
	width: 4px;
}

/* Comments */

#comment_area { 
	text-align: left;
	color: #eee;
}

.children {
	border-left: 3px solid rgba(123, 0, 0, 0.67);
}

.field_wrapper {
	margin-bottom: 20px;
}

.field_wrapper input, 
.field_wrapper textarea {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.field_wrapper input:focus, 
.field_wrapper textarea:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.field_wrapper textarea {
	min-height: 150px;
}

#comment_submit, .contact-btn.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #fff;
	background-color: #7b0000;	
}

#comment_submit:focus:hover, #comment_submit:focus, .contact-btn.btn:hover {
	color: #fff;
	background-color: #FF3C3C;
}

.form_label label, .contact-form-block label {
	font-size: 14px;
	margin-bottom: 10px;
	display: block;
}

.form_field {
  margin-bottom: 20px;
}

#comment_form input, #comment_form textarea {
  max-width: 100%;
}

.blog_single_wrapper, #comment_area {
  margin-bottom: 40px;
}

#comment_area h3 {
  font-size: 16px;
}

#login_info {
  margin: 10px 0;
}

.gravi img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.comments_wrapper { padding-left: 0px; }
.single_comment { border: 0px; }
.comment_date { margin-bottom: 5px; }

.comment_message {
  line-height: 1.8em;
}

.single_comment {
	padding: 10px;
	overflow : hidden;
	margin-bottom: 15px;
	clear:both;
}

.author_info {
	float:left;
	text-align: center;
	margin-right: 15px;
	color: #747171;
}

.comment_body {
	overflow:auto;
}

.comment_date {
	float:left;
	color: #747171;
	font-size: 11px;
}

.reply_link {
	float: right;
	text-decoration: none;
	font-size: 11px;
	background: #7b0000;
	color: #fff;
	padding: 1px 10px;
	border-radius: 5px;
}

.reply_link:hover {
	background: #FF3C3C;
}

.comment_message {
	clear:both;
}

#comment-pagination {
	margin-bottom: 15px;
	float:right;
}

#comment_form input[type=text], #comment_form input[type=email], #comment_form input[type=url] {
	border: 1px solid #CECECE;
	padding: 8px;
	width: 250px;
}

#comment_form textarea {
	border: 1px solid #CECECE;
	padding: 10px;
	width: 500px;
	height: 200px;
}

.com_read_more {
	float: right;
	font-size: 11px;
}

/* Widget */

.sidebar {
	margin: 20px 0;
	width: 23%;
	float: right;
}

.widget {
	background: rgba(0,0,0,0.43);
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	color: #eee;
}

.widget-title {
	margin-top: 0px; 
	font-size: 20px;
	color: #eee;
	font-size: 16px;
}

.widget ul, .widget ol {
	padding-left: 5px;
	list-style: none;
}

/* Contact */

.contact-form input[type=text], 
.contact-form input[type=email],
.contact-form textarea {
	display: block;
	width: 60%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	margin-bottom: 20px;
}

.contact-form textarea {
	width: 80%;
	min-height: 150px;
}

.contact-form input[type=file] {
	margin-bottom: 20px;
	color: #eee;
}

.contact-form label {
	color: #eee;
	font-size: 14px;
	margin-bottom: 10px;
}

/* Media Queries*/

@media (max-width: 992px)  {

	#content .pull-right {
		float: none !important;
		text-align: center;
	}

	.dashboard .img-responsive {
		margin: 0 auto;
	}

	#footer p {
		text-align: center;
	}

	#footer span {
		display: block;
		text-align: center;
		float: none !important;
	}

}

@media (max-width: 767px) {

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: #7b0000;
	}

	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover {
	    color: #eee;
		background-color: #891212;
	    border-bottom: 0px;	
	}

	#logo {
		margin-left: 15px;
	}

	#teams > .col-md-6 {
		width: 100%;
	}

	#teams li.tright { margin-right: 5px; }

	#about h3 {
    	text-align: center;
	}

}