	<section id="footer">
		<footer>
			<div class="container">
				<p class="col-md-6">Copyright &copy; {{ setting('site_title') }}. All Rights Reserved.</p>
				<span class="pull-right socials">
					<a href="https://www.facebook.com/reborncms" target="_blank" class="ico ico-facebook">
						<i class="fa fa-facebook-square"></i>
					</a>
					<a href="http://twitter.com/reborncms" target="_blank" class="ico ico-twitter">
						<i class="fa fa-twitter"></i>
					</a>
					<a href="https://github.com/reborncms" target="_blank" class="ico ico-github">
						<i class="fa fa-github-alt"></i>
					</a>
				</span>
			</div>			
		</footer>
	</section> <!-- end of section#footer -->

	<!-- Scripts -->

	{{ jquery() }}

	{{ js(array(
		'bootstrap.js'
	)) }}

</body>
</html>