<!DOCTYPE html>
<html>
<head>
	{{ include:metadata }}
</head>
<body>

	{{ include:header }}

	<section id="content">

		<div class="container clearfix">

			{{ include:breadcrumb }}

		</div>
		
	</section> <!-- end of section#main -->

	<section id="main">

		<div class="container" id="about">

			<h3>Meet Our Team</h3>

			<ul id="teams" class="clearfix">
				<li class="tleft col-md-6">
					{{ img('team/thiha.jpg', array('class' => 'team-member')) }}
					<h4>Soe Thiha Naung <span>{ Team Leader }</span></h4>
					<p>CEO of <a href="http://myanmarlinks.net">Myanmar Links</a> web development team, and teach subjects associated with Web Development in his class. A husband, and a father.</p>
					<ul class="social-share">
						<li>
							<a target="_blank" title="Find on Facebook" href="https://www.facebook.com/soethihanaung"><i class="fa fa-facebook-square"></i></a>
						</li>
						<li>
							<a target="_blank" title="Follow on Twitter" href="https://twitter.com/phpcrazy"><i class="fa fa-twitter"></i></a>
						</li>
						<li>
							<a target="_blank" title="Fork on Github" href="https://github.com/phpcrazy"><i class="fa fa-github-alt"></i></a>
						</li>
					</ul>
				</li>
				<li class="tright col-md-6">
					{{ img('team/nlh.jpg', array('class' => 'team-member')) }}
					<h4>Nyan Lynn Htut <span>{ Lead Developer }</span></h4>
					<p>Web and Android Developer at Myanmar Links Web Development Team. I am interested in Backend (Server Side) Technology.</p>
					<ul class="social-share">
						<li>
							<a target="_blank" title="Find on Facebook" href="http://www.facebook.com/nyanlynnhtut"><i class="fa fa-facebook-square"></i></a>
						</li>
						<li>
							<a target="_blank" title="Follow on Twitter" href="https://twitter.com/nyanlynnhtut"><i class="fa fa-twitter"></i></a>
						</li>
						<li>
							<a target="_blank" title="Fork on Github" href="https://github.com/nyanlynnhtut"><i class="fa fa-github-alt"></i></a>
						</li>
					</ul>
				</li>
				<li class="tleft col-md-6">
					{{ img('team/ljl.jpg', array('class' => 'team-member')) }}
					<h4>Li Jia Li<span>{ Core Module Developer }</span></h4>
					<p>A web addicted who love to learn about web technology. Design and Arts enthusiast. Love to travel around and take photos for pleasure.</p>
					<ul class="social-share">
						<li>
							<a target="_blank" title="Find on Facebook" href="https://www.facebook.com/DGVJiaLi"><i class="fa fa-facebook-square"></i></a>
						</li>
						<li>
							<a target="_blank" title="Follow on Twitter" href="https://twitter.com/EyeOfDragonLi"><i class="fa fa-twitter"></i></a>
						</li>
						<li>
							<a target="_blank" title="Fork on Github" href="https://github.com/DragonVirus"><i class="fa fa-github-alt"></i></a>
						</li>
					</ul>
				</li>
				<li class="tright col-md-6">
					{{ img('team/k.jpg', array('class' => 'team-member')) }}
					<h4>K<span>{ Core Module Developer }</span></h4>
					<p>109/110 Web Developer (//w//) Love anime and manga | Cosplay in free times. | Monogatari Series addicts.</p>
					<ul class="social-share">
						<li>
							<a target="_blank" title="Find on Facebook" href="https://www.facebook.com/khaylay"><i class="fa fa-facebook-square"></i></a>
						</li>
						<li>
							<a target="_blank" title="Follow on Twitter" href="https://twitter.com/khayusaki"><i class="fa fa-twitter"></i></a>
						</li>
						<li>
							<a target="_blank" title="Fork on Github" href="https://github.com/khay"><i class="fa fa-github-alt"></i></a>
						</li>
					</ul>
				</li>
				<li class="tleft col-md-6">
					{{ img('team/yn.jpg', array('class' => 'team-member')) }}
					<h4>Yan Naing <span>{ Core Module Developer }</span></h4>
					<p>Self-employed at Myanmar Links as Business Developer and core developer of RebornCMS.</p>
					<ul class="social-share">
						<li>
							<a target="_blank" title="Find on Facebook" href="https://www.facebook.com/tannaing"><i class="fa fa-facebook-square"></i></a>
						</li>
						<li>
							<a target="_blank" title="Follow on Twitter" href="https://twitter.com/Mr_Yannaing"><i class="fa fa-twitter"></i></a>
						</li>
						<li>
							<a target="_blank" title="Fork on Github" href="https://github.com/Mr-Zer0"><i class="fa fa-github-alt"></i></a>
						</li>
					</ul>
				</li>
				<li class="tright col-md-6">
					{{ img('team/tpo.jpg', array('class' => 'team-member')) }}
					<h4>Thet Paing Oo <span>{ Core Module Developer }</span></h4>
					<p>Developing with HTML, CSS, JavaScript, jQuery, and PHP Frameworks, currently working at Myanmar Links.</p>
					<ul class="social-share">
						<li>
							<a target="_blank" title="Find on Facebook" href="https://www.facebook.com/mgthetpaingoo"><i class="fa fa-facebook-square"></i></a>
						</li>
						<li>
							<a target="_blank" title="Follow on Twitter" href="https://twitter.com/mgthetpaing"><i class="fa fa-twitter"></i></a>
						</li>
						<li>
							<a target="_blank" title="Fork on Github" href="https://github.com/thetpaing"><i class="fa fa-github-alt"></i></a>
						</li>
					</ul>
				</li>
				<li class="tleft col-md-6">
					{{ img('team/hzh.jpg', array('class' => 'team-member')) }}
					<h4>Hein Zaw Htet<span>{ Contributor }</span></h4>
					<p>Love to design &amp; develop websites. Founder of <a href="https://www.myanmarwebdev.com">Myanmar Web Dev</a> website.</p>
					<ul class="social-share">
						<li>
							<a target="_blank" title="Find on Facebook" href="http://www.facebook.com/heinzawhtet"><i class="fa fa-facebook-square"></i></a>
						</li>
						<li>
							<a target="_blank" title="Follow on Twitter" href="https://twitter.com/heinzawhtet"><i class="fa fa-twitter"></i></a>
						</li>
						<li>
							<a target="_blank" title="Fork on Github" href="https://github.com/heinzawhtet"><i class="fa fa-github-alt"></i></a>
						</li>						
					</ul>
				</li>
				<li class="tright col-md-6">
					{{ img('team/nla.jpg', array('class' => 'team-member')) }}
					<h4>Naing Lin Aung <span>{ Contritutor }</span></h4>
					<p>Watch anime, read manga, play VN and this-and-that Otaku. Sometimes write notes on <a href="http://m0rris.com">his blog</a>.</p>
					<ul class="social-share">
						<li>
							<a target="_blank" title="Find on Facebook" href="https://www.facebook.com/nainglinaung91"><i class="fa fa-facebook-square"></i></a>
						</li>
						<li>
							<a target="_blank" title="Follow on Twitter" href="https://twitter.com/kelvinm0rRis"><i class="fa fa-twitter"></i></a>
						</li>
						<li>
							<a target="_blank" title="Fork on Github" href="https://github.com/nainglinaung"><i class="fa fa-github-alt"></i></a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</section> <!-- end of section#main -->

	{{ include:footer }}

</body>
</html>