<!DOCTYPE html>
<html>
<head>
	{{ include:metadata }}
</head>
<body>

	<section id="header">
		{{ include:header }}
	</section>	

	<section id="home">
		<div class="wrapper">
			
			<div class="download">
				<h2 class="style-title">Built your website Fast and easy with maximum flexiblity.</h2>	
				<div id="slider_wrapper">
					<div id="slides">
						<div id="screenshot_slider" style="display:none;">
							{{ img('slides/slide1.jpg') }}
							{{ img('slides/slide2.jpg') }}
							{{ img('slides/slide3.jpg') }}
							{{ img('slides/slide4.jpg') }}
							{{ img('slides/slide5.jpg') }}
						</div> <!-- end of screenshot_slider -->
					</div>
				</div>
				<a href="https://github.com/reborncms/reborn" target="_blank" class="btn btn-download style-text">
					<i class="fa fa-download"></i>Download
				</a>				
			</div>

		</div>
	</section>

	<section id="description">
		<div class="wrapper">
			
			<div class="information clearfix">
				<ul>
					<li>
						<div class="info-img lightweight">
							{{ img('lightweight.png') }}							
						</div>						
						<h3 class="style-text">Lightweight CMS</h3>
					</li>
					<li>
						<div class="info-img modular">
							{{ img('modular.png') }}							
						</div>
						<h3 class="style-text">Modular Structure and Easily Extensible</h3>
					</li>
					<li>
						<div class="info-img composer">
							{{ img('composer.png') }}							
						</div>
						<h3 class="style-text">Built with composer packages</h3>
					</li>
					<li>
						<div class="info-img opensource">
							{{ img('opensource.png') }}							
						</div>
						<h3 class="style-text">Open Source Project with MIT License</h3>
					</li>
				</ul>
			</div>

		</div>
	</section>

	<!-- Meet the team -->
	<section id="about">
		<div class="wrapper">
			
			<div class="team">
				<h2 class="style-title">Meet the Team</h2>
				<ul id="developers" class="clearfix">
					
					<li id="nlh" class="core">
						<div class="avatar">
							{{ img('team/nlh.jpg', array('alt' => 'Nyan Lynn Htut')) }}
						</div>
						<div class="info">
							<span class="arrow"></span>
							<h3 class="style-text">Nyan Lynn Htut</h3>
							<span class="role style-title">Lead Developer</span>
							<p>Web and Android Developer at Myanmar Links Web Development Team. I am interested in Backend (Server Side) Technology.</p>							
						</div>
						<ul class="team-social">
							<li class="fb">
								<a href="https://www.facebook.com/nyanlynnhtut" target="_blank">
									<i class="fa fa-facebook-square"></i>
								</a>
							</li>
							<li class="tw">
								<a href="https://twitter.com/nyanlynnhtut" target="_blank">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li class="gh">
								<a href="https://github.com/nyanlynnhtut" target="_blank">
									<i class="fa fa-github-alt"></i>
								</a>
							</li>
						</ul>
					</li>

					<li id="ljl" class="core">
						<div class="avatar">							
							{{ img('team/ljl.jpg', array('alt' => 'Li Jia Li')) }}
						</div>
						<div class="info">
							<span class="arrow"></span>
							<h3 class="style-text">Li Jia Li</h3>
							<span class="role style-title">Module Developer</span>
							<p>A web addicted who love to learn about web technology. Design and Arts enthusiast. Love to travel around and take photos for pleasure.</p>							
						</div>
						<ul class="team-social">
							<li class="fb">
								<a href="https://www.facebook.com/DGVJiaLi" target="_blank">
									<i class="fa fa-facebook-square"></i>
								</a>
							</li>
							<li class="tw">
								<a href="https://twitter.com/EyeOfDragonLi" target="_blank">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li class="gh">
								<a href="https://github.com/DragonVirus" target="_blank">
									<i class="fa fa-github-alt"></i>
								</a>
							</li>
						</ul>
					</li>

					<li id="k" class="core">
						<div class="avatar">							
							{{ img('team/k.jpg', array('alt' => 'K')) }}						
						</div>
						<div class="info">
							<span class="arrow"></span>
							<h3 class="style-text">K</h3> 
							<span class="role style-title">Module Developer</span>
							<p>109/110 Web Developer (//w//) Love anime and manga | Cosplay in free times. | Monogatari Series addicts.</p>							
						</div>
						<ul class="team-social">
							<li class="fb">
								<a href="https://www.facebook.com/khaylay" target="_blank">
									<i class="fa fa-facebook-square"></i>
								</a>
							</li>
							<li class="tw">
								<a href="https://twitter.com/khayusaki" target="_blank">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li class="gh">
								<a href="https://github.com/khay" target="_blank">
									<i class="fa fa-github-alt"></i>
								</a>
							</li>
						</ul>
					</li>

					<li id="yn" class="core">
						<div class="avatar">
							{{ img('team/yn.jpg', array('alt' => 'Yan Naing')) }}
						</div>
						<div class="info">
							<span class="arrow"></span>
							<h3 class="style-text">Yan Naing</h3>
							<span class="role style-title">Module Developer</span>
							<p>Self-employed at Myanmar Links as Business Developer and core developer of RebornCMS.</p>
						</div>
						<ul class="team-social">
							<li class="fb">
								<a href="https://www.facebook.com/tannaing" target="_blank">
									<i class="fa fa-facebook-square"></i>
								</a>
							</li>
							<li class="tw">
								<a href="https://twitter.com/Mr_Yannaing" target="_blank">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li class="gh">
								<a href="https://github.com/Mr-Zer0" target="_blank">
									<i class="fa fa-github-alt"></i>
								</a>
							</li>
						</ul>
					</li>

					<li id="tpo" class="core">
						<div class="avatar">
							{{ img('team/tpo.jpg', array('alt' => 'Thet Paing Oo')) }}
						</div>
						<div class="info">
							<span class="arrow"></span>
							<h3 class="style-text">Thet Paing Oo</h3>
							<span class="role style-title">Module Developer</span>
							<p>Developing with HTML, CSS, JavaScript, jQuery, and PHP Frameworks, currently working at Myanmar Links.</p>							
						</div>
						<ul class="team-social">
							<li class="fb">
								<a href="https://www.facebook.com/mgthetpaingoo" target="_blank">
									<i class="fa fa-facebook-square"></i>
								</a>
							</li>
							<li class="tw">
								<a href="https://twitter.com/mgthetpaing" target="_blank">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li class="gh">
								<a href="https://github.com/thetpaing" target="_blank">
									<i class="fa fa-github-alt"></i>
								</a>
							</li>
						</ul>
					</li>					

				</ul>
			</div>

			<div class="contributor">
				<h3 class="style-title">Contributors</h3>
				<ul class="clearfix">
					<li>
						{{ img('team/thiha.jpg', array('alt' => 'Soe Thiha Naung')) }}
						<h4 class="style-text">Soe Thiha Naung</h4>
					</li>
					<li>
						{{ img('team/hzh.jpg', array('alt' => 'Hein Zaw Htet')) }}
						<h4 class="style-text">Hein Zaw Htet</h4>
					</li>
					<li>
						{{ img('team/nla.jpg', array('alt' => 'Naing Lin Aung')) }}
						<h4 class="style-text">Naing Lin Aung</h4>
					</li>
				</ul>
			</div>

		</div>
	</section>	

	{{ include:footer }}
	{{ js('jquery.slides.min.js') }}
	<script>
		jQuery(function(){
			$('#screenshot_slider').slidesjs({
		        width: 345,
		        height: 216,
		        play:{
		        	effect:'fade',
		        	auto:true,
		        	interval: 5000
		        },
		        navigation: {
      				active: false
      			},
      			pagination: {
      				active: false
      			}
		    });
		});
	</script>

</body>
</html>