<!DOCTYPE html>
<html>
<head>
	{{ include:metadata }}
</head>
<body>

	{{ include:header }}

	<section id="content">

		<div class="container clearfix">

			<div class="col-md-6 pull-right download">
				<h3>Built your website Fast and easy with maximum flexibility.</h3>
				<p>RebornCMS is Lightweight, developed with passions. Built with composer packages, modular structure and easily extensible. It is an open-source project with <a href="http://opensource.org/licenses/mit-license.html" target="_blank">MIT License</a>.</p>
				<a class="btn btn-download" href="https://github.com/reborncms/reborn/releases" target="_blank">Download RebornCMS v2 beta</a>
			</div>

			<div class="col-md-6 dashboard">
				{{ img('dashboard.png', array('class' => 'img-responsive')) }}				
			</div>

		</div>
		
	</section> <!-- end of section#main -->	

	{{ include:footer }}

</body>
</html>