<!DOCTYPE html>
<html>
<head>
	{{ include:metadata }}
</head>
<body>

	<section id="header">
		{{ include:header }}
	</section>	

	<section id="home">
		<div class="wrapper">
			
			<div class="download">
				<h2>Built your website Fast and easy with maximum flexiblity.</h2>				
				{{ img('reborn-dashboard.png') }}
				<a href="https://github.com/reborncms/reborn" target="_blank" class="btn btn-download">
					<i class="fa fa-download"></i>Download
				</a>				
			</div>

		</div>
	</section>

	<section id="description">
		<div class="wrapper">
			
			<div class="information clearfix">
				<ul>
					<li>
						<div class="info-img lightweight">
							{{ img('lightweight.png') }}							
						</div>						
						<h3>Lightweight CMS</h3>
					</li>
					<li>
						<div class="info-img modular">
							{{ img('modular.png') }}							
						</div>
						<h3>Modular Structure and Easily Extensible</h3>
					</li>
					<li>
						<div class="info-img composer">
							{{ img('composer.png') }}							
						</div>
						<h3>Built with composer packages</h3>
					</li>
					<li>
						<div class="info-img opensource">
							{{ img('opensource.png') }}							
						</div>
						<h3>Open Source Project with MIT License</h3>
					</li>
				</ul>
			</div>

		</div>
	</section>

	<!-- Meet the team -->
	<section id="about">
		<div class="wrapper">
			
			<div class="team">
				<h2>Meet the Team</h2>
				<ul id="developers" class="clearfix">
					
					<li id="nlh" class="core">
						<div class="avatar">
							{{ img('team/nlh.jpg', array('alt' => 'Nyan Lynn Htut')) }}
						</div>
						<div class="info">
							<span class="arrow"></span>
							<h3>Nyan Lynn Htut</h3>
							<span class="role">Lead Developer</span>
							<p>Web and Android Developer at Myanmar Links Web Development Team. I am interested in Backend (Server Side) Technology.</p>							
							<ul class="team-social">
								<li class="fb">
									<a href="#">
										<i class="fa fa-facebook-square"></i>
									</a>
								</li>
								<li class="tw">
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li class="gh">
									<a href="#">
										<i class="fa fa-github-alt"></i>
									</a>
								</li>
							</ul>
						</div>
					</li>

					<li id="ljl" class="core">
						<div class="avatar">							
							{{ img('team/ljl.jpg', array('alt' => 'Li Jia Li')) }}
						</div>
						<div class="info">
							<span class="arrow"></span>
							<h3>Li Jia Li</h3>
							<span class="role">Module Developer</span>
							<p>A web addicted who love to learn about web technology. Design and Arts enthusiast. Love anime, sci-fi movies and games.</p>							
							<ul class="team-social">
								<li class="fb">
									<a href="#">
										<i class="fa fa-facebook-square"></i>
									</a>
								</li>
								<li class="tw">
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li class="gh">
									<a href="#">
										<i class="fa fa-github-alt"></i>
									</a>
								</li>
							</ul>
						</div>
					</li>

					<li id="k" class="core">
						<div class="avatar">							
							{{ img('team/k.jpg', array('alt' => 'K')) }}						
						</div>
						<div class="info">
							<span class="arrow"></span>
							<h3>K</h3>
							<span class="role">Module Developer</span>
							<p>109/110 Web Developer (//w//) Love anime and manga | Cosplay in free times. | Monogatari Series addicts.</p>							
							<ul class="team-social">
								<li class="fb">
									<a href="#">
										<i class="fa fa-facebook-square"></i>
									</a>
								</li>
								<li class="tw">
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li class="gh">
									<a href="#">
										<i class="fa fa-github-alt"></i>
									</a>
								</li>
							</ul>
						</div>
					</li>

					<li id="yn" class="core">
						<div class="avatar">
							{{ img('team/yn.jpg', array('alt' => 'Yan Naing')) }}
						</div>
						<div class="info">
							<span class="arrow"></span>
							<h3>Yan Naing</h3>
							<span class="role">Module Developer</span>
							<p>Self-employed at Myanmar Links as Business Developer and core developer of RebornCMS.</p>
							<ul class="team-social">
								<li class="fb">
									<a href="#">
										<i class="fa fa-facebook-square"></i>
									</a>
								</li>
								<li class="tw">
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li class="gh">
									<a href="#">
										<i class="fa fa-github-alt"></i>
									</a>
								</li>
							</ul>
						</div>
					</li>

					<li id="tpo" class="core">
						<div class="avatar">
							{{ img('team/tpo.jpg', array('alt' => 'Thet Paing Oo')) }}
						</div>
						<div class="info">
							<span class="arrow"></span>
							<h3>Thet Paing Oo</h3>
							<span class="role">Module Developer</span>
							<p>Developing with HTML, CSS, JavaScript, jQuery, and PHP Frameworks, currently working at Myanmar Links.</p>							
							<ul class="team-social">
								<li class="fb">
									<a href="#">
										<i class="fa fa-facebook-square"></i>
									</a>
								</li>
								<li class="tw">
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li class="gh">
									<a href="#">
										<i class="fa fa-github-alt"></i>
									</a>
								</li>
							</ul>
						</div>
					</li>					

				</ul>
			</div>

			<div class="contributor">
				<h3>Contributors</h3>
				<ul class="clearfix">
					<li>
						{{ img('team/thiha.jpg', array('alt' => 'Soe Thiha Naung')) }}
						<h4>Soe Thiha Naung</h4>
					</li>
					<li>
						{{ img('team/hzh.jpg', array('alt' => 'Hein Zaw Htet')) }}
						<h4>Hein Zaw Htet</h4>
					</li>
					<li>
						{{ img('team/nla.jpg', array('alt' => 'Naing Lin Aung')) }}
						<h4>Naing Lin Aung</h4>
					</li>
				</ul>
			</div>

		</div>
	</section>	

	{{ include:footer }}

</body>
</html>